
/* // pagination  */

.ngx-pagination {
    margin-left: 0;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    font-size: 12px;
    padding: 0;
  
  }
  
  .pagination-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .pagination-wrapper .input-group {
    width: 150px;
  }
  .pagination-wrapper .input-group .input-group-addon {
    color: #fff;
    border: none;
  }
  .pagination-wrapper .form-group {
    height: auto;
    margin: 0;
    padding: 0;
  }
  
  .my-pagination /deep/ 
  
  {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    font-size: 12px;
    padding: 0;
  }
  
  
  
  .my-pagination[_ngcontent-c8] .ngx-pagination a, .my-pagination[_ngcontent-c8] .ngx-pagination .current{
    text-decoration: none;
    height: 35px;
    text-align: center;
    line-height: 33px;
    margin: 0;
   }
  .my-pagination .ngx-pagination a:last-child,
  .my-pagination .ngx-pagination .current:last-child {
    border: none;
  }
  
  .my-pagination .ngx-pagination .disabled {
      color: rgba(38, 37, 60, 0.4);
      cursor: not-allowed;
  }
  
  .ngx-pagination .small-screen {
    display: none;
  }
  
  .bg-primary[_ngcontent-c8], .pagination-wrapper[_ngcontent-c8] .input-group[_ngcontent-c8] .input-group-addon[_ngcontent-c8], .my-pagination[_ngcontent-c8] .ngx-pagination a:hover, .my-pagination[_ngcontent-c8] .ngx-pagination .current , .pagination-wrapper[_ngcontent-c10] .input-group[_ngcontent-c10] .input-group-addon[_ngcontent-c10]{
    background: linear-gradient(to top right, #fca400, #ffd17c);
      background: -webkit-linear-gradient(to top right, #fca400, #ffd17c);
      color: #fff;
      padding: 0.1875rem 0.625rem;
  
  }
  
  .ngx-pagination::after {
    clear: both;
  }
  
  .ngx-pagination::before, .ngx-pagination::after {
    content: ' ';
    display: table;
  }

  thead{
    background-color: #f1f0f0;
}
tr th {
font-size: 13px;
/* font-weight: 600; */
color: #2f2f2f;
}
.ngx-pagination .current, .ngx-pagination a:hover, .pagination-wrapper .input-group .input-group-addon {
    background: #ab0005 !important;
    font-size: 12px;
    line-height: 23px;
    border-radius: 4px 0px;
    border-radius: 3px;
    cursor:pointer
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border: 1px solid #ab0005;
    border-radius: 3px;
    height: 30px;
    line-height: 33px;
}




.my-pagination .ngx-pagination a:last-child, .my-pagination .ngx-pagination .current:last-child {
    border: 1px solid #ab0005;
    color: #ab0005;
    line-height: 28px !important;
}
.ngx-pagination .current, .ngx-pagination a:hover, .pagination-wrapper .input-group .input-group-addon {
background: #ab0005 !important;
}
.ngx-pagination a, .ngx-pagination button{
background: #ab0005 !important;
}
/* .table-bordered td, .table-bordered th {
/* border: 1px solid #38424c; */
/* font-size: 15px;
} */ 
.search-group {
margin-bottom: 10px;

background: rgba(191, 191, 191, 0.1);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;
overflow: hidden;
margin: 10px auto;
height: 40px;
line-height: 21px;
border: 1px solid #538383a8;
}
.table-bordered td, .table-bordered th {
border: 1px solid #dee2e6;
font-size: 14px;
}
tr th{
color: #565656;
font-size: 13px !important;
}