<!--upper bar-->
<div class="ubber">
  <div class="container">
    <ul class="list-inline">
      <li class="nav-item">
        <a class="nav-link sign" (click)="openloginmodal()">Log In </a>
      </li>
      <li class="nav-item">
        <a class="nav-link sign"  (click)="openSignup()">Sign Up</a>
      </li>
        <li class="nav-item">
        <a class="nav-link sign" (click)="openSignup()">Log out </a>
      </li>
      <li class="nav-item">
        <a class="nav-link sign" (click)="openUpGrade()">  Upgrate to company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sign" href="#" data-toggle="modal" data-target="#">  Search</a>
      </li>
      <li class="nav-item">
        <select class="text select" name="country" placeholder="Language" value="English">
        <option>English</option>
        <option>Arabic</option>
      </select>
    </li>      
          </ul>
      </div>
</div>
<!-- Start content section -->
<div class="pageContent">

  <!-- Start searchBar -->
  <div class="row searchBar">
    <div class=" col-xs-12 col-sm-8">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by job name" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>

    <div class=" col-xs-12 col-sm-4 findPeople">

      <button type="button" class="btn btn-outline">
          <i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;Find Jobs
      </button>

    </div>
  </div>
  <!-- End searchBar -->

  <!-- Start cards contant -->
  <div class="container cardsContent">
    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <img src="./assets/images/avater.png">
            <div class="userData">
              <h6>Ahmed Mohammed</h6>
              <p>Frontend Developer</p>
              <p>
                <span>Salary</span>&nbsp; 6000 - 8000 egp</p>
            </div>
          </div>
          <div class="card-body">
            <div class="card-links">
              <div class="card-link">
                <span class="downloadName">Frontend_CV.pdf</span>
                <span class="downloadIcon">
                  <i class="fas fa-download"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <img src="./assets/images/avater.png">
            <div class="userData">
              <h6>Ahmed Mohammed</h6>
              <p>Frontend Developer</p>
              <p>
                <span>Salary</span>&nbsp; 6000 - 8000 egp</p>
            </div>
          </div>
          <div class="card-body">
            <div class="card-links">
              <div class="card-link">
                <span class="downloadName">Frontend_CV.pdf</span>
                <span class="downloadIcon">
                  <i class="fas fa-download"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <img src="./assets/images/avater.png">
            <div class="userData">
              <h6>Ahmed Mohammed</h6>
              <p>Frontend Developer</p>
              <p>
                <span>Salary</span>&nbsp; 6000 - 8000 egp</p>
            </div>
          </div>
          <div class="card-body">
            <div class="card-links">
              <div class="card-link">
                <span class="downloadName">Frontend_CV.pdf</span>
                <span class="downloadIcon">
                  <i class="fas fa-download"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <img src="./assets/images/avater.png">
            <div class="userData">
              <h6>Ahmed Mohammed</h6>
              <p>Frontend Developer</p>
              <p>
                <span>Salary</span>&nbsp; 6000 - 8000 egp</p>
            </div>
          </div>
          <div class="card-body">
            <div class="card-links">
              <div class="card-link">
                <span class="downloadName">Frontend_CV.pdf</span>
                <span class="downloadIcon">
                  <i class="fas fa-download"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <img src="./assets/images/avater.png">
            <div class="userData">
              <h6>Ahmed Mohammed</h6>
              <p>Frontend Developer</p>
              <p>
                <span>Salary</span>&nbsp; 6000 - 8000 egp</p>
            </div>
          </div>
          <div class="card-body">
            <div class="card-links">
              <div class="card-link">
                <span class="downloadName">Frontend_CV.pdf</span>
                <span class="downloadIcon">
                  <i class="fas fa-download"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <img src="./assets/images/avater.png">
            <div class="userData">
              <h6>Ahmed Mohammed</h6>
              <p>Frontend Developer</p>
              <p>
                <span>Salary</span>&nbsp; 6000 - 8000 egp</p>
            </div>
          </div>
          <div class="card-body">
            <div class="card-links">
              <div class="card-link">
                <span class="downloadName">Frontend_CV.pdf</span>
                <span class="downloadIcon">
                  <i class="fas fa-download"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- End cards containt -->

</div>
<!-- End content section -->
