<form [formGroup]="forgetForm">
  <div class="modal-header">
    <div class="modal-title" id="exampleModalLabel">
      <div class="modal-icon">

      </div>
      <h5>{{'Forget password'|translate}}</h5>
      <hr>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <!--use in en:modal-body & ar:modal-body modal-body-ar-->
  <div class="modal-body"  [ngClass]="{' modal-body-ar':language == 'ar'}">
    <div class="form forget">
      <input class="text" type="text" name="phone" placeholder="{{'Phone number'|translate}}" formControlName="phonen" [(ngModel)]="phoneNumber"
        [ngClass]="{ 'is-invalid': forgetForm.get('phonen').touched && forgetForm.get('phonen').hasError('required'),
        'is-valid':forgetForm.get('phonen').touched && !forgetForm.get('phonen').hasError('required') }" />

      <button type="button" class="btn btn-primary" [disabled]="!forgetForm.valid" (click)="openforgetPasswordConfirmmodal()">
        {{'Send'|translate}}</button>
        <p style="margin-top:10px;">{{'You must write your country code before mobile number'|translate}}</p>
    </div>
  </div>
  <div class="modal-footer">


  </div>
</form>
