<div class=" bd-example-modal-sm" id="reset" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-title" id="exampleModalLabel">
          <div class="modal-icon">

          </div>
          <h5>Reset</h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="form reset">
          <input class="text" type="text" name="text" placeholder="Code" />
          <input class="text" type="password" name="text" placeholder="New Password" />
          <input class="text" type="password" name="text" placeholder=" Confirm Password" /> <a href="#" data-toggle="modal"
            data-target="#verify">Change</a>
          <a class="link" href="#">Resend code</a>
        </div>
      </div>

    </div>
  </div>
</div>
