<form [formGroup]="editFormPass">
  <div class=" bd-example-modal-sm" id="reset" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <div class="modal-title" id="exampleModalLabel">
            <div class="modal-icon">

            </div>
            <h5>{{'Reset Password'|translate}}</h5>
            <hr>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <!--use in en:modal-body & ar:modal-body & modal-body-ar-->
        <div class="modal-body  "  [ngClass]="{'modal-body-ar':language == 'ar'}">
          <div class="form reset">
            <input class="text" type="password" name="text" placeholder="{{'Old Password'|translate}}" formControlName="oldpass" [(ngModel)]="Oldpass"
              [ngClass]="{ 'is-invalid': hasError('oldpass','required'),
          'is-valid':editFormPass.get('oldpass').touched && !hasError('oldpass','required')  }"
              required />
            <input class="text" type="password" name="text" placeholder="{{'New Password'|translate}}" formControlName="newpass"
              [(ngModel)]="Newpass" [ngClass]="{ 'is-invalid': hasError('newpass','required'),
          'is-valid':editFormPass.get('newpass').touched && !hasError('newpass','required')  }"
              required />
            <input class="text" type="password" name="text" placeholder=" {{'Confirm Password'|translate}}" formControlName="confirmnewpass"
              [(ngModel)]="Confirmnewpass" [ngClass]="{ 'is-invalid': hasError('confirmnewpass','required'),
          'is-valid':editFormPass.get('confirmnewpass').touched && !hasError('confirmnewpass','required')  }"
              required />
            <button type="button" class="btn btn-secondary" [disabled]="!editFormPass.valid || (editFormPass.value.newpass !== editFormPass.value.confirmnewpass) "
              (click)="changePass()">{{'Change'|translate}}</button>

          </div>
        </div>

      </div>
    </div>
  </div>
</form>
