<!-- <button type="button" class="btn btn-primary" (click)="openloginmodal()">Create modal with component</button> -->
<!--change image-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="medium" color="#fff" type="ball-spin"></ngx-spinner>

<div class="modal fade bd-example-modal-sm" id="profile" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-title" id="exampleModalLabel">
          <div class="modal-icon">

          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="form profile">
          <img *ngIf="pictureName2 == ''" src="./assets/images/images.jpg" />
          <img *ngIf="pictureName2 != ''" src="{{imageForURl}}" />
          <span>choose photo :</span>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02" accept="image/*" [(ngModel)]="imageBlob2"
              (change)="processFile($event,2)">
            <label class="custom-file-label" *ngIf="pictureName2 == ''" for="inputGroupFile02">no image choosen</label>
            <label class="custom-file-label" *ngIf="pictureName2 != ''" for="inputGroupFile02"> {{pictureName2}}</label>

          </div>

        </div>
        <div class="modal-footer foot">

          <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)="changeProfileImage()"
            [disabled]="pictureName2 == ''">Change</button>
        </div>

      </div>
    </div>
  </div>
</div>
<!--start reset pass-->
<!-- <div class="modal fade bd-example-modal-sm" id="pass" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <div class="modal-title" id="exampleModalLabel">
          <div class="modal-icon">

          </div>
          <h5>Reset</h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="form reset">
          <input class="text" type="password" name="text" placeholder="password" />
          <input class="text" type="password" name="text" placeholder="New Password" />
          <input class="text" type="password" name="text" placeholder=" Confirm Password" /> <a href="#" data-toggle="modal"
            data-target="#verify">Change</a>

        </div>
      </div>

    </div>
  </div>
</div> -->
<!--upper bar-->
<div class="ubber">
  <div class="container">
    <ul class="list-inline">
      <li class="nav-item">
        <a class="nav-link sign" (click)="openmodal('LoginmodalComponent')">Log In </a>
      </li>
      <li class="nav-item">
        <a class="nav-link sign" (click)="openmodal('SignupmodalComponent')">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sign" (click)="logOut()">Log out </a>
      </li>
      <li class="nav-item">
        <a class="nav-link sign" (click)="openmodal('UpgrademodalComponent')"> Upgrate to company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link sign"> Search</a>
      </li>
      <li class="nav-item">
        <select class="text select" name="country" placeholder="Language" [(ngModel)]="lang" (ngModelChange)="changeLanguage(lang)">
          <option value="en">English</option>
          <option value="ar">Arabic</option>
        </select>
      </li>
    </ul>
  </div>
</div>
<!--start nav-->
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="./assets/images/rafal-logo1.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link ">{{'home'|translate}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#adver">Advertisment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="home#contact">Contact</a>
        </li>


        <li>
          <div class="dropdown">
            <!-- <img class="btn btn-secondary dropdown-toggle" src="./assets/images/images.jpg" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" /> -->
            <img class="btn btn-secondary dropdown-toggle" src="{{profileImage+userData}}" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div class="user-image">
                <img class="user" src="{{profileImage+userData}}" />
                <div class="over">
                  <a class="chan" href="#" data-toggle="modal" data-target="#profile">change</a>
                </div>
              </div>

              <p>{{userName}}</p>
              <a class="dropdown-item" (click)="openmodal('ResetmodalComponent')"> Change password</a>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--end nav-->


<!--start header-->
<div class="header">
  <div class="back">
    <img src="./../assets/images/header-bg.png" />
  </div>
  <div class="container">

    <div class="row">
      <div class="col">
        <div class="header-content">
          <h4>R</h4>
          <div class="info wow fadeInUp">
            <h3> <span>Rafal Group</span> </h3>
            <!-- <h4>R</h4> -->
            <p>Our company is considered as one of the leading international services supplier of Commercial and
              administrative rendered services. </p>
            <button><a href="#about">Get Started</a></button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="image wow fadeInUp">
          <img src="./../assets/images/ORSFZA1 [Converted].png" />

        </div>
      </div>
    </div>
  </div>
</div>
<!--end header-->


<!-- ***** Special Area Start ***** -->
<section class="special-area bg-white section_padding_100" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Section Heading Area -->
        <div class="section-heading text-center">
          <h2>Why We Are <span>Special</span></h2>
          <hr>
          <p>The company does provide the most influential and comprehensive essential services particularly in
            providing high quality professional management to those new organizations and business entities. This is to
            cover all other related products such as commercial services, commercial agents and other commercial
            related business between businesses.
          </p>
          <div class="line-shape"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Special Area -->
      <div class="col-12 col-md-4">
        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
          <div class="single-icon">
            <i class="fas fa-desktop"></i>
          </div>
          <h4>Development</h4>
          <p>The role is responsible for designing, coding and modifying websites, from layout to function and
            according to a client's specifications. Strive to create visually appealing sites that feature
            user-friendly design and clear navigation. We are happy to serve you.</p>
        </div>
      </div>
      <!-- Single Special Area -->
      <div class="col-12 col-md-4">
        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
          <div class="single-icon">
            <i class="fas fa-globe"></i>

          </div>
          <h4>Importing and Exporting</h4>
          <p>An import export business is a company that facilitates trades of goods and commodities between domestic
            and foreign companies. In other words, it’s a company that buys goods internationally and ships them in for
            domestic purchases and vise versa.</p>
        </div>
      </div>
      <!-- Single Special Area -->
      <div class="col-12 col-md-4">
        <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
          <div class="single-icon">
            <i class="fas fa-user-tie"></i>
          </div>
          <h4>Hiring Labors</h4>
          <p>Through a database prepared carefully for all fields and have been rehabilitated and developed to keep
            pace with the external labor market with the possibility of providing visas to transfer the worker directly
            or to hire workers through cooperation with enterprises outside Egypt</p>
        </div>
      </div>
    </div>
  </div>

  <!--start about-->
  <!-- <div id="about" class="about ">
  <div class="container">
     <div class="intro">
                <h2>Welcome to<span> Rafal Group</span></h2>
              <p>There are many variations of passages of Lorem Ipsum available, but<br> the majority have suffered alteration in some form, by injected </p>
            </div>-->
  <!-- <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="info wow fadeInLeft">
          <h3>About us</h3>
          <hr>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected There are many variations of passages of
            Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
            There are many variations of passages of Lorem Ipsum available, but the majority have
            suffered alteration in some form, by injected </p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="image wow fadeInRight">
          <img src="./../assets/images/about2.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div> -->
  <!--end about-->

  <!-- Special Description Area -->
  <div class="special_description_area mt-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="special_description_img wow fadeInUp">
            <img src="./../assets/images/App Screen Front View MockUp.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 col-xl-5 ml-xl-auto">
          <div class="special_description_content">
            <h2>Try Our <span>Mobile Application</span> Now</h2>
            <hr>
            <p>A mobile application, most commonly referred to as an app, is a type of application software designed to
              run on a mobile device, such as a smartphone or tablet computer. Mobile applications frequently serve to
              provide users with similar services to those accessed on PCs.In order to facilitate the service to our
              customers we offer you the mobile application for our company so that it can communicate with us faster
              and easier.</p>
            <div class="app-download-area">
              <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                <!-- Google Store Btn -->
                <a href="#">
                  <i class="fab fa-android"></i>
                  <p class="mb-0"><span>available on</span> Google Store</p>
                </a>
              </div>
              <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                <!-- Apple Store Btn -->
                <a href="#">
                  <i class="fab fa-apple"></i>
                  <p class="mb-0"><span>available on</span> Apple Store</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Special Area End  -->

  <!--start services-->
  <div id="services" class="services">
    <div class="container">
      <div class="intro wow fadeInUp">
        <h2>Our<span> Services</span></h2>
        <hr>
        <p>Our role is also to represent commercially any firm in other various countries. We then reduce the
          difficulty by providing our clients all administrative solutions and different services due to our vast
          professional experiences in these targeted countries and due to our deep understanding of these countries
          trade and administrative rules and regulations. </p>

      </div>
      <div class="main">
        <div class="row first">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner wow fadeInLeft" style="cursor: pointer;" (click)="openmodal('CharterComponent')">
                <div class="row">
                  <div class="col-3">
                    <div class="our-services-img">
                      <i class=" htfy fas fa-calculator"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="our-services-text">
                      <h4><span>Charter</span> Accounting</h4>
                      <a href="#" data-toggle="modal" data-target="#accounting"> Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner wow fadeInUp" style="cursor: pointer;" (click)="openmodal('HiringComponent')">
                <div class="row">
                  <div class="col-3">
                    <div class="our-services-img">
                      <i class="htfy fas fa-briefcase"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="our-services-text">
                      <h4><span>Hiring</span> Labors</h4>
                      <a href="#" data-toggle="modal" data-target="#hiring"> Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner wow fadeInUp" style="cursor: pointer;" (click)="openmodal('FeasibilityComponent')">
                <div class="row">
                  <div class="col-3">
                    <div class="our-services-img">
                      <i class="htfy fas fa-paste"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="our-services-text">
                      <h4><span>Feasibility</span> Study</h4>
                      <a href="#" data-toggle="modal" data-target="#study"> Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner wow fadeInRight" style="cursor: pointer;" (click)="openmodal('EstablishComponent')">
                <div class="row">
                  <div class="col-3">
                    <div class="our-services-img">
                      <i class=" htfy fas fa-building"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="our-services-text">
                      <h4><span>Establishing</span> Companies</h4>
                      <a href="#" data-toggle="modal" data-target="#company"> Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner wow fadeInLeft" style="cursor: pointer;" (click)="openmodal('CustomsComponent')">
                <div class="row">
                  <div class="col-3">
                    <div class="our-services-img">
                      <i class="htfy fab fa-accusoft"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="our-services-text">
                      <h4><span>Customs </span>Clearance</h4>
                      <a href="#" data-toggle="modal" data-target="#custom"> Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner wow fadeInUp" style="cursor: pointer;" (click)="openmodal('EmploymentComponent')">
                <div class="row">
                  <div class="col-3">
                    <div class="our-services-img">
                      <i class="htfy fas fa-handshake"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="our-services-text">
                      <h4>Employment</h4>
                      <a href="#" data-toggle="modal" data-target="#employ"> Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner wow fadeInUp" style="cursor: pointer;" (click)="openmodal('OfficeComponent')">
                <div class="row">
                  <div class="col-3">
                    <div class="our-services-img">
                      <i class="htfy fas fa-chalkboard-teacher"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="our-services-text">
                      <h4><span>Office </span>Services</h4>
                      <a href="#" data-toggle="modal" data-target="#office"> Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner wow fadeInRight" style="cursor: pointer;" (click)="openmodal('TradingComponent')">
                <div class="row">
                  <div class="col-3">
                    <div class="our-services-img">
                      <i class=" htfy fas fa-globe"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="our-services-text">
                      <h4><span>Trading</span> Agencies</h4>
                      <a href="#" data-toggle="modal" data-target="#trade"> Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 offset-lg-3 offset-md-3">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner wow fadeInLeft" style="cursor: pointer;" (click)="openmodal('CertifiedComponent')">
                <div class="row">
                  <div class="col-3">
                    <div class="our-services-img">
                      <i class="htfy fas fa-language"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="our-services-text">
                      <h4><span>Certified</span> Translation</h4>
                      <a href="#" data-toggle="modal" data-target="#translation"> Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 ">
            <div class="our-services-wrapper mb-60">
              <div class="services-inner wow fadeInRight" style="cursor: pointer;" (click)="openmodal('ShippingComponent')">
                <div class="row">
                  <div class="col-3">
                    <div class="our-services-img">
                      <i class="htfy fas fa-ship"></i>
                    </div>
                  </div>
                  <div class="col-9">
                    <div class="our-services-text">
                      <h4>Shipping</h4>
                      <a href="#" data-toggle="modal" data-target="#ship"> Apply</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--end forms-->

  <!-- ***** App Screenshots Area Start ***** -->
  <!-- <section class="app-screenshots-area bg-white section_padding_0_100 clearfix" id="screenshot">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <!-- Heading Text  -->
  <!-- <div class="section-heading">
                  <h2>App Screenshots</h2>
                  <div class="line-shape"></div>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <!-- App Screenshots Slides  -->
  <!-- <div class="app_screenshots_slides owl-carousel">
                  <div class="single-shot">
                      <img src="./../assets/images/app-1.jpg" alt="">
                  </div>
                  <div class="single-shot">
                      <img src="./../assets/images/app-1.jpg" alt="">
                  </div>
                  <div class="single-shot">
                      <img src="./../assets/images/app-1.jpg" alt="">
                  </div>
                  <div class="single-shot">
                      <img src="./../assets/images/app-1.jpg" alt="">
                  </div>
                  <div class="single-shot">
                      <img src="./../assets/images/app-1.jpg" alt="">
                  </div>
                  <div class="single-shot">
                      <img src="./../assets/images/app-1.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
  <!-- ***** App Screenshots Area End *****====== -->
  <div class="adv" id="adver">
    <div class="container">
      <div class="adv-title">
        <h2>Free <span>Advertisement</span> by our users</h2>
        <hr>
        <p> Because our goal is to serve our customers and cooperate with them in finding their goal, we offer you a
          service to raise their advertisement for free, which also helps you to find a suitable business opportunity
          for you. These are part of the ads to inform you about.
        </p>
      </div>
      <div id="carouselExampleIndicators" class="carousel slide wow zoomIn" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">

          <ng-container *ngFor="let item of arrays;let i=index">
            <div class="carousel-item  " [ngClass]="{ 'active': i == 0 }">
              <div class="row">
                <div class="col-3" *ngFor="let img of item">
                  <img class="d-block w-100" src="{{imgUrl+img}}" alt="Third slide">
                </div>
                <!-- <div class="col-3">
                  <img class="d-block w-100" src="./../assets/images/2.jpg" alt="Third slide">
                </div>
                <div class="col-3">
                  <img class="d-block w-100" src="./../assets/images/3.jpg" alt="Third slide">
                </div>
                <div class="col-3">
                  <img class="d-block w-100" src="./../assets/images/4.jpg" alt="Third slide">
                </div> -->
              </div>
            </div>
          </ng-container>
          <!-- <div class="carousel-item">
            <div class="row">
              <div class="col-3">
                <img class="d-block w-100 " src="./../assets/images/5.jpg" alt="Third slide">
              </div>
              <div class="col-3">
                <img class="d-block w-100" src="./../assets/images/6.jpg" alt="Third slide">
              </div>
              <div class="col-3">
                <img class="d-block w-100" src="./../assets/images/7.jpg" alt="Third slide">
              </div>
              <div class="col-3">
                <img class="d-block w-100" src="./../assets/images/8.jpg" alt="Third slide">
              </div>
            </div>

          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-3">
                <img class="d-block w-100" src="./../assets/images/9.jpg" alt="Third slide">
              </div>
              <div class="col-3">
                <img class="d-block w-100" src="./../assets/images/10.jpg" alt="Third slide">
              </div>
              <div class="col-3">
                <img class="d-block w-100" src="./../assets/images/3.jpg" alt="Third slide">
              </div>
              <div class="col-3">
                <img class="d-block w-100" src="./../assets/images/4.jpg" alt="Third slide">
              </div>
            </div>
          </div> -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <!-- <h2 style="text-align:center">Slideshow Gallery</h2>

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="./../assets/images/slide.jpeg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="./../assets/images/slide2.jpeg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="./../assets/images/slide.jpeg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="./../assets/images/slide.jpeg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="./../assets/images/slide2.jpeg" style="width:100%">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="./../assets/images/slide.jpeg" style="width:100%">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="./../assets/images/slide2.jpeg" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
    </div>
    <div class="column">
      <img class="demo cursor" src="./../assets/images/slide.jpeg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
    </div>
    <div class="column">
      <img class="demo cursor" src="./../assets/images/slide.jpeg" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="./../assets/images/slide2.jpeg" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
    <div class="column">
      <img class="demo cursor" src="./../assets/images/slide.jpeg" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
    </div>    
    <div class="column">
      <img class="demo cursor" src="./../assets/images/slide2.jpeg" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
    </div>
  </div>
</div> -->



  <!-- |<div class="container">
  <div class="row">
    <h2>Media Slider Carousel BS3</h2>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>      
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
  </div>
</div> -->

  <!-- <drag-scroll class="drag">
  <img  drag-scroll-item src="./../assets/images/slide.jpeg" />
  <img drag-scroll-item src="./../assets/images/slide.jpeg" />
  <img drag-scroll-item src="./../assets/images/slide.jpeg" />
  <img  drag-scroll-item src="./../assets/images/slide.jpeg" />
  <img drag-scroll-item src="./../assets/images/slide.jpeg" />
  <img drag-scroll-item src="./../assets/images/slide.jpeg" />
  <img  drag-scroll-item src="./../assets/images/slide.jpeg" />
  <img drag-scroll-item src="./../assets/images/slide.jpeg" />
  <img drag-scroll-item src="./../assets/images/slide.jpeg" />
</drag-scroll>
<button (click)="moveLeft()">Left</button>
<button (click)="moveRight()">Right</button>  -->

  <!-- <legend align="center">Our Happy Client's</legend>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <!-- <div class="carousel-inner">
  
    <div class="item active container">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
    </div>
    
    <div class="item container">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
      </div>
    
    <div class="item container">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
     </div>
    
  </div>

    <div align="center" style="margin-top:20px;">
    <!-- Controls -->
  <!-- <a class="left" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
    </div>
  
</div> -->

  <!--start main form-->
  <div id="contact" class="main-form">
    <div class="main-back">
      <img src="./../assets/images/pexels-photo-433639.jpeg" />
    </div>
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="title wow fadeInLeft">
            <h3>Submit A Free <span>Advertisement</span></h3>
            <p>Your Advertisement will be sent to the admin for review and we will get back to you as soon as
              possible.</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">



          <form class="wow fadeInRight" [formGroup]="addadvertismentForm">

            <select class="text select" type="text" name="text" placeholder="Job Title" formControlName="job"
              [(ngModel)]="Job" [ngClass]="{ 'is-invalid': hasError('job','required'),'is-valid':addadvertismentForm.get('job').touched && !hasError('job','required')  }"
              required>
              <option *ngFor="let job of jobTitle" value="{{job.code}}">{{job.value}}</option>

            </select>

            <textarea class="text second" type="text" name="description" placeholder="Your Description" formControlName="discription"
              [(ngModel)]="Discription"></textarea>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile01" formControlName="imageblob1"
                [(ngModel)]="imageBlob1" [ngClass]="{ 'is-invalid': addadvertismentForm.get('imageblob1').touched && addadvertismentForm.get('imageblob1').hasError('required'),
                  'is-valid':addadvertismentForm.get('imageblob1').touched && !addadvertismentForm.get('imageblob1').hasError('required') }"
                (change)="processFile($event,1)" accept="image/*" required>
              <label class="custom-file-label" for="inputGroupFile01" *ngIf="pictureName1 == ''">no image choosen
              </label>
              <label class="custom-file-label" for="inputGroupFile01" *ngIf="pictureName1 != ''">{{pictureName1}}
              </label>
            </div>

            <button type="button" (click)="addAdvertsService()" [disabled]="!addadvertismentForm.valid ">Submit</button>
          </form>




        </div>

      </div>
    </div>
  </div>
  <!--end main form-->



  <!-- footer -->

  <!-- <div class="footer">
  <div class="container">
    <div class="contact">
      <div class="row">
        <div class=" col-9">

          <p>
            <i class="fas fa-map-marker-alt"></i>
            <span>Egypt monufiya ,shebin-elkom</span>
          </p>
          <p>
            <i class="fas fa-at"></i>
            <span>Rafalmasr@gmail.com</span>
          </p>
          <p>
            <i class="fas fa-phone"></i>
            <span>010009874655</span>
          </p>
        </div>
        <div class="col-3 ">
          <div class="social">
            <a href="https://www.facebook.com/RafalGroup/" target="_blank"><i class=" social-icon fab fa-facebook"></i></a>
            <i class=" social-icon fab fa-facebook"></i>-->
  <!-- <a href="https://twitter.com/MasrRafal" target="_blank"> <i class="social-icon fab fa-twitter-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


  <!-- end footer -->


  <!-- ***** Footer Area Start ***** -->
  <footer class=" footer footer-social-icon text-center section_padding_70 clearfix">
    <!-- footer logo -->
    <div class="footer-text">
      <h2>R.G</h2>
    </div>
    <!-- social icon-->
    <div class="footer-social-icon">
      <a href="https://www.facebook.com/RafalGroup/" target="_blank"><i class="fab fa-facebook-f"></i></a>
      <a href="https://twitter.com/MasrRafal" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/rafal_group/" target="_blank"> <i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCq7SJ-GAMs-ZXIqNdIen9bg" target="_blank"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="footer-menu">
      <nav>
        <ul>
          <li> <a href="#"><i class="fas fa-map-marker-alt"></i>
              <span>Egypt, Menoufia ,Shebin-Elkom, AL Galaa AL Bahari Road Hilton Tower 6th floor</span>
            </a></li>
          <li><a href="#"><i class="fas fa-at"></i>
              <span>rafalmasr@gmail.com</span>
            </a></li>
          <li> <a href="#"><i class="fas fa-phone"></i>
              <span>01094132184 / 01113115264</span></a></li>

        </ul>
      </nav>
      <!-- <p>
        <i class="fas fa-map-marker-alt"></i>
        <span>Egypt monufiya ,shebin-elkom</span>
      </p>
      <p>
        <i class="fas fa-at"></i>
        <span>Rafalmasr@gmail.com</span>
      </p>
      <p>
        <i class="fas fa-phone"></i>
        <span>010009874655</span>
      </p> -->
    </div>
    <!-- Foooter Text-->
    <div class="copyright-text">
      <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
      <p>Copyright ©2018 Rafal Group Designed by <a href="#" target="_blank">Rafal Group</a></p>
    </div>
  </footer>
