<!-- <div role="document" class="modal-dialog-log">
    <div class="modal-content"> -->
<!--<div class="bd-example-modal-sm" id="sign" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">-->
<!-- <div class="modal-content"> -->
<form [formGroup]="signupForm">
  <!--use in en:modal-header & ar:modal-header modal-header-ar-->
  <div class="modal-header" [ngClass]="{'modal-header-ar':language == 'ar'}">
    <div class="modal-title" id="exampleModalLabel">
      <div class="modal-icon">
        <i class=" ic fas fa-user-plus"></i>
      </div>
      <h5>{{'sign up'|translate}}</h5>
      <hr>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <!--use in en:modal-body & ar:modal-body modal-body-ar-->
  <div class="modal-body " [ngClass]="{'modal-body-ar':language == 'ar'}">
    <div class="form log">
      <input class="text" type="text" name="text" placeholder="{{'name'|translate}}" formControlName="name" [(ngModel)]="Name"
        [ngClass]="{ 'is-invalid': signupForm.get('name').touched && signupForm.get('name').hasError('required'),
          'is-valid':signupForm.get('name').touched && !signupForm.get('name').hasError('required') }" />

          <div class="input-group mb-3 log-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><select formControlName="countrycode" [(ngModel)]="contryCode">
                    <option value="{{country}}" *ngFor="let country of countries">{{country}}</option>
                  </select>
            </span>
              </div>
              <input class="form-control" type="number" name="text" placeholder="{{'Phone number'|translate}}" formControlName="phonen" [(ngModel)]="phoneNumber"
              [ngClass]="{ 'is-invalid': signupForm.get('phonen').touched && signupForm.get('phonen').hasError('required'),
                'is-valid':signupForm.get('phonen').touched && !signupForm.get('phonen').hasError('required') }"  aria-describedby="basic-addon1"/>
            </div>
            
         
          


      <!-- <input class="form-control" type="number" name="text" placeholder="Phone" formControlName="phonen" [(ngModel)]="phoneNumber"
        [ngClass]="{ 'is-invalid': signupForm.get('phonen').touched && signupForm.get('phonen').hasError('required'),
          'is-valid':signupForm.get('phonen').touched && !signupForm.get('phonen').hasError('required') }"  aria-describedby="basic-addon1"/> -->

      <input class="text" type="number" name="text" placeholder="{{'ID number'|translate}}" formControlName="national" [(ngModel)]="nationalId"
        [ngClass]="{ 'is-invalid': signupForm.get('national').touched && signupForm.get('national').hasError('required'),
          'is-valid':signupForm.get('national').touched && !signupForm.get('national').hasError('required') }" />

      <input class="text" type="password" name="text" placeholder="{{'Password'|translate}}" formControlName="password" [(ngModel)]="Password"
        [ngClass]="{ 'is-invalid': signupForm.get('password').touched && signupForm.get('password').hasError('required') || (signupForm.get('password').value != signupForm.get('confirm').value),
          'is-valid':signupForm.get('password').touched && !signupForm.get('password').hasError('required') && (signupForm.get('password').value == signupForm.get('confirm').value) }" />

      <input class="text" type="password" name="text" placeholder="{{'Confirm Password'|translate}}" formControlName="confirm"
        [(ngModel)]="confirmPassword" [ngClass]="{ 'is-invalid': signupForm.get('confirm').touched && signupForm.get('confirm').hasError('required') || (signupForm.get('password').value != signupForm.get('confirm').value),
          'is-valid':signupForm.get('confirm').touched && !signupForm.get('confirm').hasError('required') && (signupForm.get('password').value == signupForm.get('confirm').value) }" />

      <!-- <select formControlName="countrycode" [(ngModel)]="contryCode">
        <option value="{{country}}" *ngFor="let country of countries">{{country}}</option>
      </select> -->



      <a class="nav-link sign" (click)="openloginmodal()">{{'Already have
        account.log in'|translate}}</a>
    </div>
  </div>
  <!--use in en:modal-footer & ar:modal-footer modal-footer-ar-->
  <div class="modal-footer " [ngClass]="{'modal-footer-ar':language == 'ar'}">

    <button type="button" class="btn btn-primary" (click)="signUp()" [disabled]="!signupForm.valid || (signupForm.get('password').value != signupForm.get('confirm').value)">{{'sign up'|translate}}</button>
  </div>



</form>
