<!-- Start content section -->
<div class="pageContent">

  <!-- Start searchBar -->
  <div class="row searchBar">
    <div class=" col-xs-12 col-sm-8">
      <h5>
        <i class="fas fa-briefcase"></i>&nbsp;&nbsp;Frontend Developer
      </h5>
    </div>

    <div class=" col-xs-12 col-sm-4 findPeople">

      <button type="button" class="btn btn-outline">
        <i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;Find Other Jobs
      </button>

    </div>
  </div>
  <!-- End searchBar -->

  <!-- Start cards contant -->
  <div class="container">

    <div class="JobDetails">

      <div class="job-title">
        <p>
          <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Egypt
        </p>
        <p>
          <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;
          <span>Experience Years:</span>&nbsp; 3 - 5 years
        </p>
        <p>
          <i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;
          <span>Salary:</span>&nbsp; 6000 - 8000 egp
        </p>
        <p>
            <i class="far fa-clock"></i>&nbsp;&nbsp;
            <span>Daily Hours:</span>&nbsp;
            9 am - 5 pm
          </p>
      </div>

      <hr>

      <div class="jobDescription">
        <h5>Job Description</h5>
        <p>We are looking for a dedicated, resourceful, and friendly Customer Success Specialist to join our team. We are a
          small team and need a self-starter, and highly motivated person to learn all the ins and outs of Parent.
        </p>
      </div>

      <hr>

      <div class="skills">
        <h5>Skills</h5>
        <ul>
          <li>Fully understand the current and future Parent™ system</li>
          <li>Act as liaison between customers and the technical team</li>
          <li>Onboard new customers</li>
          <li>Increase interaction with current customers</li>
          <li>Respond to customer inquiries via phone, email, or chat in a timely manner</li>
          <li>Create, manage, and follow up on customer tickets until they are resolved</li>
          <li>Record all activities using our current CRM to enhance visibility</li>
          <li>Follow the current internal customer success process and improve on it</li>
        </ul>
      </div>

      <hr>

      <div class="requireQualification">
        <h5>Required Qualification</h5>
        <ul>
          <li>Bachelor’s Degree</li>
          <li>Previous customer support experience preferred</li>
          <li>Excellent written and verbal communication skills</li>
          <li>Strong organizational skills</li>
        </ul>
      </div>

      <hr>

      <div class="contactData">
        <h6 class="contactTitle">
          <i class="fas fa-globe"></i>&nbsp; Website
        </h6>
        <p>www.rafalgroup.net</p>

        <h6 class="contactTitle">
          <i class="fas fa-mobile-alt"></i>&nbsp; Phone
        </h6>
        <p>+20 109 413 2184</p>

        <h6 class="contactTitle">
          <i class="fas fa-at"></i>&nbsp; Email
        </h6>
        <p>admin@rafalgroup.net</p>

        <h6 class="contactTitle">
          <i class="fas fa-map-marker-alt"></i>&nbsp; Address
        </h6>
        <p>شبين الكوم شارع الجلاء البحري برج هيلتون.الدور السادس</p>
      </div>


    </div>

  </div>
  <!-- End cards containt -->

</div>
<!-- End content section -->
