<!-- Start content section -->
<div class="pageContent">

  <!-- Start searchBar -->
  <div class="row searchBar">
    <div class=" col-xs-12 col-sm-8">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by job name" aria-label="Search">
        <button class="btn my-2 my-sm-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>

    <div class=" col-xs-12 col-sm-4 findPeople">

      <button type="button" class="btn btn-outline">
        <i class="fas fa-users"></i>&nbsp;&nbsp;&nbsp;Find Employees
      </button>

    </div>
  </div>
  <!-- End searchBar -->

  <!-- Start cards contant -->
  <div class="container cardsContent">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">


          <div class="card-title">
            <h6>
              <i class="fas fa-briefcase"></i>&nbsp;&nbsp;Frontend Developer
            </h6>
            <p>
              <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Egypt
            </p>
            <p>
              <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;
              <span>Experience Years</span>&nbsp; 3 - 5 year
            </p>
            <p>
              <i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;
              <span>Salary</span>&nbsp; 6000 - 8000 egp
            </p>
          </div>
          <div class="card-body">

            <div class="card-text">
              <p>Designing and developing static or dynamic responsive website. Using CMS like Wordpress, Joomla, opencart and
                e-commerce when needed. Using 5/CSS3 jquery, javascript.. Designing PSD when required, slicing and coding.
                PHP when required. Managing Hosting server and mail servers. Using SEO, Google analytic, when required</p>
            </div>

            <div class="card-links">
              <div class="card-link">
                <button type="button" class="btn btn-outline moreBtn">
                  <i class="fas fa-ellipsis-h"></i>&nbsp; More
                </button>
                <span class="card-date">11h ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <h6>
              <i class="fas fa-briefcase"></i>&nbsp;&nbsp;Frontend Developer
            </h6>
            <p>
              <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Egypt
            </p>
            <p>
              <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;
              <span>Experience Years</span>&nbsp; 3 - 5 year
            </p>
            <p>
              <i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;
              <span>Salary</span>&nbsp; 6000 - 8000 egp
            </p>
          </div>
          <div class="card-body">

            <div class="card-text">
              <p>Designing and developing static or dynamic responsive website. Using CMS like Wordpress, Joomla, opencart and
                e-commerce when needed. Using 5/CSS3 jquery, javascript.. Designing PSD when required, slicing and coding.
                PHP when required. Managing Hosting server and mail servers. Using SEO, Google analytic, when required</p>
            </div>

            <div class="card-links">
              <div class="card-link">
                <button type="button" class="btn btn-outline moreBtn">
                  <i class="fas fa-ellipsis-h"></i>&nbsp; More
                </button>
                <span class="card-date">11h ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <h6>
              <i class="fas fa-briefcase"></i>&nbsp;&nbsp;Frontend Developer
            </h6>
            <p>
              <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Egypt
            </p>
            <p>
              <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;
              <span>Experience Years</span>&nbsp; 3 - 5 year
            </p>
            <p>
              <i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;
              <span>Salary</span>&nbsp; 6000 - 8000 egp
            </p>
          </div>
          <div class="card-body">

            <div class="card-text">
              <p>Designing and developing static or dynamic responsive website. Using CMS like Wordpress, Joomla, opencart and
                e-commerce when needed. Using 5/CSS3 jquery, javascript.. Designing PSD when required, slicing and coding.
                PHP when required. Managing Hosting server and mail servers. Using SEO, Google analytic, when required</p>
            </div>

            <div class="card-links">
              <div class="card-link">
                <button type="button" class="btn btn-outline moreBtn">
                  <i class="fas fa-ellipsis-h"></i>&nbsp; More
                </button>
                <span class="card-date">11h ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <h6>
              <i class="fas fa-briefcase"></i>&nbsp;&nbsp;Frontend Developer
            </h6>
            <p>
              <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Egypt
            </p>
            <p>
              <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;
              <span>Experience Years</span>&nbsp; 3 - 5 year
            </p>
            <p>
              <i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;
              <span>Salary</span>&nbsp; 6000 - 8000 egp
            </p>
          </div>
          <div class="card-body">

            <div class="card-text">
              <p>Designing and developing static or dynamic responsive website. Using CMS like Wordpress, Joomla, opencart and
                e-commerce when needed. Using 5/CSS3 jquery, javascript.. Designing PSD when required, slicing and coding.
                PHP when required. Managing Hosting server and mail servers. Using SEO, Google analytic, when required</p>
            </div>

            <div class="card-links">
              <div class="card-link">
                <button type="button" class="btn btn-outline moreBtn">
                  <i class="fas fa-ellipsis-h"></i>&nbsp; More
                </button>
                <span class="card-date">11h ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="card-title">
            <h6>
              <i class="fas fa-briefcase"></i>&nbsp;&nbsp;Frontend Developer
            </h6>
            <p>
              <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;Egypt
            </p>
            <p>
              <i class="far fa-calendar-alt"></i>&nbsp;&nbsp;
              <span>Experience Years</span>&nbsp; 3 - 5 year
            </p>
            <p>
              <i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;
              <span>Salary</span>&nbsp; 6000 - 8000 egp
            </p>
          </div>
          <div class="card-body">

            <div class="card-text">
              <p>Designing and developing static or dynamic responsive website. Using CMS like Wordpress, Joomla, opencart and
                e-commerce when needed. Using 5/CSS3 jquery, javascript.. Designing PSD when required, slicing and coding.
                PHP when required. Managing Hosting server and mail servers. Using SEO, Google analytic, when required</p>
            </div>

            <div class="card-links">
              <div class="card-link">
                <button type="button" class="btn btn-outline moreBtn">
                  <i class="fas fa-ellipsis-h"></i>&nbsp; More
                </button>
                <span class="card-date">11h ago</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End cards containt -->

</div>
<!-- End content section -->
