<form [formGroup]="mydForm">
  <!--use in en:modal-header & ar:modal-header modal-header-ar-->
  <div class="modal-header " [ngClass]="{'modal-header-ar':language == 'ar'}">
    <div class="modal-title" id="exampleModalLabel">
      <div class="modal-icon">

      </div>
      <h5>{{'Upgrate to company'|translate}}</h5>
      <hr>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <!--establishing-->
  <!--use in en:modal-body & ar:modal-body modal-body-ar-->
  <div class="modal-body" [ngClass]="{'modal-body-ar':language == 'ar'}">
    <div class="form upgrate">
      <!-- <span>{{'company type'|translate}}</span> -->
      <select class="text select" [(ngModel)]="company" formControlName="Company" name="country" [ngClass]="{ 'is-invalid': hasError('Company','required'),'is-valid':mydForm.get('Company').touched && !hasError('Company','required')  }"
        placeholder="country">
        <option value="null" disabled selected>{{'Select company type'|translate}}</option>
        <option *ngFor="let company of CompanyArr" value="{{company.code}}">{{ company.value }}</option>
      </select>

      <!--Esta comany  -->
      <!-- <span>{{''|translate}}</span> -->
      <select class=" text select form-control" *ngIf="company == 'Esta'" formControlName="countryCode" [(ngModel)]="CountryCode"
        [ngClass]="{ 'is-invalid': hasError('countryCode','required'),'is-valid':mydForm.get('countryCode').touched && !hasError('countryCode','required')  }">
        <option value="null" disabled selected>select from option</option>
        <option *ngFor="let country of countryArr" value="{{country.code}}">{{ country.value }}</option>
      </select>

      <input class="text" type="text" name="text" *ngIf="company != 'Inverst' " formControlName="companyName"
        [(ngModel)]="CompanyName" [ngClass]="{ 'is-invalid': hasError('companyName','required')|| hasError('companyName','maxlength'),
            'is-valid':mydForm.get('companyName').touched && !hasError('companyName','required') &&   !hasError('companyName','maxlength')   }"
        placeholder="{{'Company name'|translate}}" />

      <!-- <span>{{'Expiry Date'|translate}}</span> -->
      <input class="text" type="date" name="text" *ngIf="company == 'Esta'" formControlName="expireDate" [(ngModel)]="ExpireDate"
        [ngClass]="{ 'is-invalid': hasError('expireDate','required'),
      'is-valid':mydForm.get('expireDate').touched && !hasError('expireDate','required')   }"
        placeholder="" />

      <input class="text" type="text" name="text" *ngIf="company == 'Esta' ||company == 'Inter' " formControlName="websiteLink"
        [(ngModel)]="WebsiteLink" [ngClass]="{ 'is-invalid': hasError('websiteLink','required')|| hasError('websiteLink','maxlength'),
        'is-valid':mydForm.get('websiteLink').touched && !hasError('websiteLink','required') &&   !hasError('websiteLink','maxlength')   }"
        placeholder="{{'company website'|translate}}" />

      <input class="text" type="email" name="text" formControlName="mail" [(ngModel)]="Mail" [ngClass]="{ 'is-invalid': hasError('mail','required')|| hasError('mail','maxlength') || hasError('mail','pattern'),
      'is-valid':mydForm.get('mail').touched && !hasError('mail','required') &&   !hasError('mail','maxlength') &&   !hasError('mail','pattern')  }"
        placeholder="{{'Email addres'|translate}} " />


      <!--New investor  -->
      <input class="text" type="text" name="text" *ngIf="company == 'Inverst'" formControlName="investnentType"
        [(ngModel)]="InvestnentType" placeholder="Investment type" [ngClass]="{ 'is-invalid': hasError('investnentType','required') ,
        'is-valid':mydForm.get('investnentType').touched && !hasError('investnentType','required')  }" />

      <select class=" text select form-control" *ngIf="company == 'Inverst'" formControlName="investor" [(ngModel)]="Investor"
        [ngClass]="{ 'is-invalid': hasError('investor','required'),'is-valid':mydForm.get('investor').touched && !hasError('investor','required')  }">
        <option value="null" disabled selected>select from option</option>

        <option *ngFor="let country of countryArr" value="{{country.code}}">{{ country.value }}</option>

      </select>

      <!-- internal -->
      <select class=" text select form-control" *ngIf="company == 'Inter'" formControlName="investmentCountryCode"
        [(ngModel)]="InvestmentCountryCode" [ngClass]="{ 'is-invalid': hasError('investmentCountryCode','required'),'is-valid':mydForm.get('investmentCountryCode').touched && !hasError('investmentCountryCode','required')  }">
        <option value="null" disabled selected>select from option</option>

        <option *ngFor="let region of RegionArr2" value="{{region.code}}">{{ region.value }}</option>

      </select>




      <!--Inter company activity -->
      <input class="text" type="text" name="text" *ngIf="company == 'Inter'" formControlName="activity" [(ngModel)]="Activity"
        [ngClass]="{ 'is-invalid': hasError('activity','required') ,
      'is-valid':mydForm.get('activity').touched && !hasError('activity','required')  }"
        placeholder="{{'Activity'|translate}}" />


      <input class="text" type="number" name="text" *ngIf="company == 'Inverst'" formControlName="capital" [(ngModel)]="Capital"
        [ngClass]="{ 'is-invalid': hasError('capital','required') ,
      'is-valid':mydForm.get('capital').touched && !hasError('capital','required')  }"
        placeholder="{{'Capital ($)'|translate}}" />

      <!--nationality (change)="getRegionValue2()"-->
      <select class=" text select form-control" *ngIf="company != 'Esta'" formControlName="nationality" [(ngModel)]="Nationality"
        [ngClass]="{ 'is-invalid': hasError('nationality','required'),'is-valid':mydForm.get('nationality').touched && !hasError('nationality','required')  }">
        <option value="null" disabled selected>select from option</option>

        <option *ngFor="let company of countryArr" value="{{company.code}}">{{ company.value }}</option>

      </select>



      <span *ngIf="company != 'Inverst'">{{'C.R Image'|translate}}</span>
      <div class="custom-file" *ngIf="company != 'Inverst'">
        <input type="file" class="custom-file-input" id="inputGroupFile01" formControlName="imageblob1" [(ngModel)]="imageBlob1"
          [ngClass]="{ 'is-invalid': mydForm.get('imageblob1').touched && mydForm.get('imageblob1').hasError('required'),
      'is-valid':mydForm.get('imageblob1').touched && !mydForm.get('imageblob1').hasError('required') }"
          (change)="processFile($event,1)" accept="image/*" required>
        <label class="custom-file-label" for="inputGroupFile01" *ngIf="pictureName1 == ''">{{'no image
          choosen'|translate}} </label>
        <label class="custom-file-label" for="inputGroupFile01" *ngIf="pictureName1 != ''">{{pictureName1}} </label>
      </div>

    </div>
  </div>
  <!--use in en:modal-footer & ar:modal-footer modal-footer-ar-->
  <div class="modal-footer  upgrate-foot" [ngClass]="{'modal-footer-ar':language == 'ar'}">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">{{'Cancel'|translate}}</button>
    <button type="button" class="btn btn-primary" *ngIf="company == 'Esta'" (click)="upgradeService()" [disabled]="
        mydForm.get('countryCode').hasError('required')||
        mydForm.get('companyName').hasError('required')|| mydForm.get('companyName').hasError('maxlength')||
        mydForm.get('expireDate').hasError('required')||
        mydForm.get('websiteLink').hasError('required')||  mydForm.get('websiteLink').hasError('maxlength')||
        mydForm.get('mail').hasError('required')|| mydForm.get('mail').hasError('maxlength') ||  mydForm.get('mail').hasError('pattern')||
        mydForm.get('imageblob1').hasError('required')

    ">{{'Send'|translate}}
    </button>
    <button type="button" class="btn btn-primary" *ngIf="company == 'Inter'" (click)="upgradeService()" [disabled]="
        mydForm.get('companyName').hasError('required')|| mydForm.get('companyName').hasError('maxlength')||
        mydForm.get('websiteLink').hasError('required')||  mydForm.get('websiteLink').hasError('maxlength')||
        mydForm.get('mail').hasError('required')|| mydForm.get('mail').hasError('maxlength') ||  mydForm.get('mail').hasError('pattern')||
        mydForm.get('imageblob1').hasError('required')||
        mydForm.get('investmentCountryCode').hasError('required')||
        mydForm.get('activity').hasError('required')||
        mydForm.get('nationality').hasError('required')
        
    ">{{'Send'|translate}}</button>
    <button type="button" class="btn btn-primary" *ngIf="company == 'Inverst'" (click)="upgradeService()" [disabled]="
        mydForm.get('mail').hasError('required')|| mydForm.get('mail').hasError('maxlength') ||  mydForm.get('mail').hasError('pattern')||
        mydForm.get('investnentType').hasError('required')||
        mydForm.get('investor').hasError('required')||
        mydForm.get('capital').hasError('required')||
        mydForm.get('nationality').hasError('required')
    ">{{'Send'|translate}}</button>
  </div>

</form>
