<div class="pages-top">
  <div class="avatar-wrap">
    <div style="cursor: pointer;" (click)="openModal(changeImage)" class="avatar">
      <img src="{{avatarImgSrc}}" alt="avatar">
    </div>
    <div class="user-info-wrap">
      <span class="user-name" title="{{userName}}">{{userName}}</span>
      <span style="cursor: pointer;" (click)="openChangepassmodal()" class="user-post" title="changePassword">
        changePassword</span>
    </div>
  </div>

  <div class="collapse-menu" (click)="_sidebarToggle()">
    <!-- <i class="fa fa-navicon fa-fw" [ngClass]="{'toggle-on':sidebarToggle,'toggle-off':!sidebarToggle}"></i> -->
    <i class="fa fa-dedent fa-fw" *ngIf="sidebarToggle"></i>
    <i class="fa fa-indent fa-fw" *ngIf="!sidebarToggle"></i>
  </div>


  <!-- <div class="search-group">
    <input type="text" class="search-input" placeholder="Search  · · ·">
    <button class="search-btn">
      <i class="fa fa-search fa-fw"></i>
    </button>
  </div> -->

  <div class="msg-tips-wrap">
    <div class="msg-entrance ring" (click)="goToHome()">
      <a>

      </a> <span class="fa fa-home fa-fw"></span>
      <!-- <span class="badge" *ngIf="tip.ring"></span> -->
    </div>
    <div class="msg-entrance email" (click)="logOut()">
      <!-- <span class="fas fa-sign-out fa-fw" aria-hidden="true"></span> -->
      <i class="fas fa-sign-in-alt"></i>

    </div>
  </div>




  <ng-template #changeImage>
    <div class="modal-header">
      <h4 class="modal-title pull-left">change Image</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="avatar-upload">
        <div class="avatar-edit">
          <input [(ngModel)]="imageBlob1" type='file' id="imageUpload" (change)="previewImg($event)" accept="image/*"
            required />
          <label for="imageUpload">
            <i class="fa fa-upload"></i>

          </label>
        </div>
        <div class="avatar-preview">
          <img id="imagePreview" [src]="imageSrc || 'http://placehold.it/180'" alt="your image" />

        </div>
      </div>
    </div>




    <div class="modal-footer">


      <button type="button" [disabled]="! ChangProfileImgBtn" class="btn btn-primary" (click)="changeProfileImage($event)">Upload!</button>


    </div>



  </ng-template>
