<form [formGroup]="comfirmPassForm">
  <div class="modal-header">
    <div class="modal-title" id="exampleModalLabel">
      <div class="modal-icon">

      </div>
      <h5>{{'Change Password'|translate}}</h5>
      <hr>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <!--use in en:modal-body & ar:modal-body & modal-body-ar-->
  <div class="modal-body "  [ngClass]="{'modal-body-ar':language == 'ar'}">
    <div class="form forget">
      <input class="text" type="text" name="conf" placeholder="{{'Conformation code'|translate}} " formControlName="concode"
        [(ngModel)]="conCode" [ngClass]="{ 'is-invalid': comfirmPassForm.get('concode').touched && comfirmPassForm.get('concode').hasError('required') ,
        'is-valid':comfirmPassForm.get('concode').touched && !comfirmPassForm.get('concode').hasError('required') }" />

      <input class="text" type="password" name="pass" placeholder="{{'Password'|translate}}" formControlName="password" [(ngModel)]="Password"
        [ngClass]="{ 'is-invalid': comfirmPassForm.get('password').touched && comfirmPassForm.get('password').hasError('required') || (comfirmPassForm.get('password').value != comfirmPassForm.get('confirm').value),
      'is-valid':comfirmPassForm.get('password').touched && !comfirmPassForm.get('password').hasError('required') && (comfirmPassForm.get('password').value == comfirmPassForm.get('confirm').value) }" />

      <input class="text" type="password" name="conPass" placeholder="{{'Confirm Password'|translate}}" formControlName="confirm"
        [(ngModel)]="confirmPassword" [ngClass]="{ 'is-invalid': comfirmPassForm.get('confirm').touched && comfirmPassForm.get('confirm').hasError('required') || (comfirmPassForm.get('password').value != comfirmPassForm.get('confirm').value),
      'is-valid':comfirmPassForm.get('confirm').touched && !comfirmPassForm.get('confirm').hasError('required') && (comfirmPassForm.get('password').value == comfirmPassForm.get('confirm').value) }" />
      <button type="button" class="btn btn-primary" (click)="confirmChangePass()" [disabled]="!comfirmPassForm.valid || (comfirmPassForm.get('password').value != comfirmPassForm.get('confirm').value)">
        {{'Change'|translate}}</button>

    </div>
  </div>
  <div class="modal-footer">


  </div>
</form>
