.is-invalid {
    border-color: #dc3545 !important;
  }
  
  /* .is-valid {
    border-color: #28a745 !important;
  } */
  
  .btn {
    z-index: 100;
  }
  .modal-body-ar{
    text-align:right;
    direction:rtl
  }
  .modal-body-ar input{
  padding: 0 10px 0 0;
  }
  .modal-body-ar span{
  text-align: right;
   margin-right: 2px; 
  }
  .modal-body-ar a{
  text-align: right;
  margin-right: 6px;
  }