<form [formGroup]="tradingForm">
  <!--use in en:modal-header & ar:modal-header modal-header-ar-->
  <div class="modal-header modal-header-ar">
    <div class="modal-title" id="exampleModalLabel">
      <div class="modal-icon">
        <i class="ic fas fa-globe"></i>
      </div>
      <h5><span>{{'Trading'|translate}}</span> {{'Agencies'|translate}}</h5>
      <hr>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <!--use in en:modal-body & ar:modal-body modal-body-ar-->
  <div class="modal-body modal-body-ar">
    <div class="form trade">
      <input class="text" type="text" name="text" placeholder="{{'Activity'|translate}} " formControlName="activity" [(ngModel)]="Activity"
        [ngClass]="{ 'is-invalid': hasError('activity','required') || hasError('activity','maxlength'),
          'is-valid':tradingForm.get('activity').touched && !hasError('activity','required') &&  !hasError('activity','maxlength')}"
        required />
      <input class="text" type="text" name="text" placeholder="{{'Required Brand'|translate}}" formControlName="requiredBrand"
        [(ngModel)]="RequiredBrand" [ngClass]="{ 'is-invalid': hasError('requiredBrand','required') || hasError('requiredBrand','maxlength'),
        'is-valid':tradingForm.get('requiredBrand').touched && !hasError('requiredBrand','required') &&  !hasError('requiredBrand','maxlength')}"
        required />
      <input class="text" type="text" name="text" placeholder="{{'product Description'|translate}}" formControlName="productDescription"
        [(ngModel)]="ProductDescription" [ngClass]="{ 'is-invalid': hasError('productDescription','required') || hasError('productDescription','maxlength'),
        'is-valid':tradingForm.get('productDescription').touched && !hasError('productDescription','required') &&  !hasError('productDescription','maxlength')}"
        required />
      <input class="text" type="text" name="text" placeholder="{{'Location'|translate}}" formControlName="location" [(ngModel)]="Location"
        [ngClass]="{ 'is-invalid': hasError('location','required') || hasError('location','maxlength'),
      'is-valid':tradingForm.get('location').touched && !hasError('location','required') &&  !hasError('location','maxlength')}"
        required />
      <span>{{ 'Upload the image of the product :' |translate}}</span>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" formControlName="imageblob1" [(ngModel)]="imageBlob1"
          [ngClass]="{ 'is-invalid': tradingForm.get('imageblob1').touched && tradingForm.get('imageblob1').hasError('required'),
        'is-valid':tradingForm.get('imageblob1').touched && !tradingForm.get('imageblob1').hasError('required') }"
          (change)="processFile($event,1)" accept="image/*" required>
        <label class="custom-file-label" for="inputGroupFile01" *ngIf="pictureName1 == ''">{{'no image choosen'|translate}} </label>
        <label class="custom-file-label" for="inputGroupFile01" *ngIf="pictureName1 != ''">{{pictureName1}} </label>
      </div>
      <textarea type="text" name="text" placeholder="{{'Other (optional)'|translate}}" formControlName="others" [(ngModel)]="Others"></textarea>
    </div>
  </div>
  <!--use in en:modal-footer & ar:modal-footer modal-footer-ar-->
  <div class="modal-footer modal-footer-ar">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()" data-dismiss="modal">{{'Cancel'|translate}}</button>
    <button type="button" class="btn btn-primary" (click)="tradingService()" [disabled]="!tradingForm.valid ">{{ 'Submit'|translate}}</button>
  </div>
</form>
