<ul class="menu-wrap animated fadeIn">

  <!-- edit by ahmed -->
  <li class="menu-item">
    <!-- start service -->
    <a class="menu-link" (click)="toggleServices()">
      <div class="placeholder">
        <i class="fa fa-server fa-fw"></i>
      </div>
      <span class="text">Services</span>
      <span class="fa fa-angle-right fa-fw direction"></span>
    </a>

    <ul class="menu-wrap animated fadeIn" *ngIf="ServiceFlag">
      <li class="menu-item">

        <a routerLink="charter_accounting" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Charter Accounting</span>
        </a>
      </li>

      <li class="menu-item">

        <a routerLink="hiringLabors" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Hiring labors</span>
        </a>
      </li>

      <li class="menu-item">

        <a routerLink="establish_companies" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Establishing companies</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="custom_clearance" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Customs Clearance</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="employment" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Employment</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="feasability_Study" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Feasibility study</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="office_services" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Office services</span>
        </a>
      </li>

      <li class="menu-item">

        <a routerLink="trading_Agencies" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Trading agencies</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="certified_Translations" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Certified translation</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="shipping" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Shipping</span>
        </a>
      </li>

    </ul>
    <!-- end service -->

    <!-- start company -->

    <a class="menu-link" (click)="togglecompany()">
      <div class="placeholder">
        <i class="fa fa-building fa-fw"></i>
      </div>
      <span class="text">Company</span>
      <span class="fa fa-angle-right fa-fw direction"></span>
    </a>


    <ul class="menu-wrap animated fadeIn" *ngIf="companyFlag">
      <li class="menu-item">

        <a routerLink="established_Company" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Established company</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="new_Investor" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">New investor</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="International" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">International company</span>
        </a>
      </li>
    </ul>
    <!-- end company -->

    <a routerLink="advetis" routerLinkActive="active" class="menu-link">
      <div class="placeholder">
        <i class="fa fa-folder fa-fw"></i>
      </div>
      <span class="text">Advirtesment</span>
    </a>

    <a routerLink="Users" routerLinkActive="active" class="menu-link">
      <div class="placeholder">
        <i class="fa fa-users fa-fw"></i>
      </div>
      <span class="text">Users</span>
    </a>
  </li>




</ul>
