<!-- <div class="nav-side-menu">
 
  <div class="menu-list">
    <ul id="menu-content" class="menu-content menu-wrap animated fadeIn collapse out">
      <li data-toggle="collapse" data-target="#products" class="collapsed menu-item active">
        <a href="#"><i class="fas fa-users-cog fa-lg"></i> Services <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li class="active menu-item"><a href="#">Charter Accounting</a></li>
        <li class="menu-item"><a href="#">Hiring labors</a></li>
        <li><a href="#">Feasibility study</a></li>
        <li><a href="#">Establishing companies</a></li>
        <li><a href="#">Customs Clearance</a></li>
        <li><a href="#">Employment</a></li>
        <li><a href="#">Office services</a></li>
        <li><a href="#">Trading agencies</a></li>
        <li><a href="#">Certified translation</a></li>
        <li><a href="#">Shipping</a></li>
      </ul>
      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#"><i class="fas fa-building fa-lg"></i>Company <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse com" id="service">
        <li>Established company</li>
        <li>New investor</li>
        <li>International company</li>
      </ul>
      <li>
        <a href="#">
          <i class="fab fa-adversal fa-lg"></i> Advirtesment
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-users fa-lg"></i> Users
        </a>
      </li>
    </ul>
  </div>
</div> -->


<ul class="menu-wrap animated fadeIn">
  <!-- <li *ngFor="let item of menuInfo;let i = index" class="menu-item" [ngClass]="{'item-toggle-on':item.toggle === 'on'}">
    <a [routerLink]="[item.routerLink.join('/')]" *ngIf="item.routerLink" routerLinkActive="active" class="menu-link"
      (click)="_selectItem(item)">
      <div class="placeholder">
        <i class="fa fa-{{item.icon}} fa-fw"></i>
      </div>
      <span class="text">{{item.title}}</span>
    </a>

    <a class="menu-link" *ngIf="!item.routerLink" (click)="isToggleOn(item)">
      <div class="placeholder">
        <i class="fa fa-{{item.icon}} fa-fw" *ngIf="item.icon"></i>
      </div>
      <span class="text">{{item.title}}</span>
      <span class="fa fa-angle-right fa-fw direction"></span>
    </a>

    <div class="item-children" [@collapse]="item.toggle" *ngIf="item.children">
      <app-menu [menuInfo]="item.children"></app-menu>
    </div>
  </li> -->


  <hr>

  <!-- edit by ahmed -->
  <li class="menu-item">
    <!-- start service -->
    <a class="menu-link" (click)="toggleServices()">
      <div class="placeholder">
        <i class="fa fa-server fa-fw"></i>
      </div>
      <span class="text">Services</span>
      <span class="fa fa-angle-right fa-fw direction"></span>
    </a>

    <ul class="menu-wrap animated fadeIn" *ngIf="ServiceFlag">
      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Charter Accounting</span>
        </a>
      </li>

      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Hiring labors</span>
        </a>
      </li>

      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Establishing companies</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Customs Clearance</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Employment</span>
        </a>
      </li>

      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Office services</span>
        </a>
      </li>

      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Trading agencies</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Certified translation</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Shipping</span>
        </a>
      </li>

    </ul>
    <!-- end service -->

    <!-- start company -->

    <a class="menu-link" (click)="togglecompany()">
      <div class="placeholder">
        <i class="fa fa-building fa-fw"></i>
      </div>
      <span class="text">Company</span>
      <span class="fa fa-angle-right fa-fw direction"></span>
    </a>


    <ul class="menu-wrap animated fadeIn" *ngIf="companyFlag">
      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">Established company</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">New investor</span>
        </a>
      </li>
      <li class="menu-item">

        <a routerLink="advetis" routerLinkActive="active" class="menu-link">
          <div class="placeholder">
            <!--<i class="fa fa-folder fa-fw"></i>-->
          </div>
          <span class="text">International company</span>
        </a>
      </li>
    </ul>
    <!-- end company -->

    <a routerLink="advetis" routerLinkActive="active" class="menu-link">
      <div class="placeholder">
        <i class="fa fa-folder fa-fw"></i>
      </div>
      <span class="text">Advirtesment</span>
    </a>

    <a routerLink="Users" routerLinkActive="active" class="menu-link">
      <div class="placeholder">
        <i class="fa fa-users fa-fw"></i>
      </div>
      <span class="text">Users</span>
    </a>
  </li>




</ul>
