.menu-wrap {
    padding: 0;
    width: 250px;
    height: auto;
  }
  
  .menu-item {
    margin: 0;
    list-style: none;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .menu-item .menu-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: 43px;
    outline: none;
    background: transparent;
    border-left: 3px solid transparent;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  .menu-item .menu-link:hover {
    color: #ab0005;
    background: rgba(0, 0, 0, 0.1);
  }
  .menu-item .menu-link .placeholder,
  .menu-item .menu-link .text,
  .menu-item .menu-link .direction {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
  }
  .menu-item .menu-link .placeholder {
    width: 47px;
    text-align: center;
    margin-right: 10px;
  }
  .menu-item .menu-link .text {
    flex: 1;
  }
  .menu-item .menu-link .direction {
    width: 50px;
  }
  .menu-item .menu-link.active {
    border-left: 3px solid #ab0005;
    color: #ab0005;
  }
  
  .item-children .menu-wrap {
    background: rgba(0, 0, 0, 0.05);
  }
  
  @media (max-width: 1440px) {
    .menu-wrap {
      width: 210px;
    }
  }
