<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-spin"></ngx-spinner> -->


<form [formGroup]="loginForm">
  <!--use in en:modal-header & ar:modal-header modal-header-ar-->
  <div class="modal-header modal-header-ar">

    <div id="dialog-sizes-name2" class="modal-title pull-top">
      <div class="modal-icon">
        <i class="ic fas fa-lock-open"></i>
      </div>
      <h5>{{'log in'|translate}}</h5>
      <hr>
      <!-- <div class="modal-icon">
              <i class="ic fas fa-lock-open"></i>
            </div>
         <h4 id="dialog-sizes-name2" class="modal-title pull-left">Log in</h4> 
         <hr> -->
      <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>
  <!--use in en:modal-body & ar:modal-body modal-body-ar-->
  <div class="modal-body modal-body-ar">
    <div class="form log">

        <div class="input-group mb-3 log-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                 <select formControlName="countrycode" [(ngModel)]="contryCode">
                  <option value="{{country}}" *ngFor="let country of countries">{{country}}</option>
                </select>
              </span>
            </div>
            <input class="form-control" type="text" name="phone" placeholder="{{'Phone number'|translate}}" formControlName="phonen" [(ngModel)]="phoneNumber"
        [ngClass]="{ 'is-invalid': loginForm.get('phonen').touched && loginForm.get('phonen').hasError('required'),
        'is-valid':loginForm.get('phonen').touched && !loginForm.get('phonen').hasError('required') }" aria-describedby="basic-addon1"/>
          </div>



      <!-- <input class="text" type="text" name="phone" placeholder="User name" formControlName="phonen" [(ngModel)]="phoneNumber"
        [ngClass]="{ 'is-invalid': loginForm.get('phonen').touched && loginForm.get('phonen').hasError('required'),
        'is-valid':loginForm.get('phonen').touched && !loginForm.get('phonen').hasError('required') }" aria-describedby="basic-addon1"/> -->
      <input class="text" type="password" name="password" placeholder="{{'Password'|translate}}" formControlName="pass" [(ngModel)]="Password"
        [ngClass]="{ 'is-invalid': loginForm.get('pass').touched && loginForm.get('pass').hasError('required'),
      'is-valid':loginForm.get('pass').touched && !loginForm.get('pass').hasError('required') }" />
      <!-- <select formControlName="countrycode" [(ngModel)]="contryCode">
        <option value="{{country}}" *ngFor="let country of countries">{{country}}</option>
      </select> -->
      <a class="sign" (click)="openforgetmodal()">{{'forget password?'|translate}}</a>
      <a class="nav-link sign" (click)="opensignupmodal()">{{'Dont have account.Sign Up'|translate}}</a>
    </div>
    <!--use in en:modal-footer & ar:modal-footer modal-footer-ar-->
    <div class="modal-footer modal-footer-ar">

      <button type="button" class="btn btn-primary" (click)="loginData()" [disabled]="!loginForm.valid ">{{'log in'|translate}}</button>
    </div>
  </div>
</form>
