/*.modal-sm .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 67%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin: auto;
}
.modal-content {
    border: none;
}*/

.modal-dialog {
  max-width: 285px;
}

.is-invalid {
  border-color: #dc3545 !important;
}

/* .is-valid {
  border-color: #28a745 !important;
} */
.log-group{
  width: 96%;
  margin: auto;
  border-radius: 6px;
}
.log-group span{
  color: #666;
  font-size: 13px;
  text-align: left;
  display: block;
  padding: 0;
  margin:0;
  border: 1px solid #009999b0;
}
.log-group select{
height: 28px;
font-size: 12px;
background-color: #eee;
}
.log-group input{
  height:30px;
  border-radius: 6px;
}
.log-group{

  width: 97%;
  margin: 13px auto 0px;
 
}
.modal-header-ar{
  direction:rtl
}
.modal-header-ar .modal-title .ic{
  margin-left:11px
}
.modal-body-ar{
  text-align:right;
  direction:rtl
}
.modal-body-ar input{
padding: 0 10px 0 0;
}
.modal-body-ar span{
text-align: right;
 margin-right: 2px; 
}
.modal-body-ar a{
text-align: right;
margin-right: 6px;
}
.modal-footer-ar{
  direction: rtl;
  /* text-align: left; */
  margin-left: -2px;
}
 .modal-footer-ar .btn-secondary{
margin-left: 12px;
}
.modal-body .log .nav-link{
  cursor:pointer
}
