/*.modal-sm .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 67%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin: auto;
}
.modal-content {
    border: none;
}*/

.modal-dialog {
  max-width: 285px;
}

.is-invalid {
  border-color: #dc3545 !important;
}

.is-valid {
  border-color: #28a745 !important;
}
.log-group span{
  color: #666;
  font-size: 13px;
  text-align: left;
  display: block;
  padding: 0;
  margin:0;
}
.log-group select{
height: 28px;
font-size: 12px;
background-color: #eee;
}
.log-group input{
  height:30px
}
.log-group{

  width: 97%;
  margin: 13px auto 0px;
 
}
